
<!------ Include the above in your HEAD tag ---------->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sellit - Buy & Sell</title>
  <link rel="icon" href="/assets/images/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png" />


    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/color7.css" media="screen" id="color">

</head>
<div><%- include("header.ejs") %></div>
<html>
    <link rel="stylesheet" href="/css/other/messages.css">


<body>
  <div class="brand-logo"><a ng-reflect-router-link="/home/profile" href="http://3.134.103.215"><img alt="" class="img-fluid" src="/assets/images/logo.png"></a></div>
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div   class="inbox_people">
            <div id="inbox_chat" class="inbox_chat">


            </div>



        </div>
        <div class="mesgs">
          <div id="msg_history" class="msg_history">

          </div>
          <div class="type_msg">
            <div id="input_msg_write" class="input_msg_write">

            </div>
          </div>
        </div>
      </div>



    </div></div>


    </body>
    </html>






  <!-- <button onclick="start('1300923')">clickd</button> -->
          <!-- latest jquery-->
  <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/other/messages.js"></script>
  


<footer _ngcontent-qbp-c5="" class="footer-light"><section _ngcontent-qbp-c5="" class="section-b-space light-layout"><div _ngcontent-qbp-c5="" class="container"><div _ngcontent-qbp-c5="" class="row footer-theme partition-f"><div _ngcontent-qbp-c5="" class="col-lg-4 col-md-6"><div _ngcontent-qbp-c5="" class="footer-title footer-mobile-title"><h4 _ngcontent-qbp-c5="">about</h4></div><div _ngcontent-qbp-c5="" class="footer-contant"><div _ngcontent-qbp-c5="" class="footer-logo"><a _ngcontent-qbp-c5="" ng-reflect-router-link="/pages/about-us" href="/pages/about-us"><img _ngcontent-qbp-c5="" alt="" src="assets/images/icon/logo_f.png"></a></div><app-information _ngcontent-qbp-c5="" _nghost-qbp-c11=""><p _ngcontent-qbp-c11="">We build leading destinations for buying, selling, and exchanging products and services. We improvise, experiment and listen to our customers. We are proud to be different.</p></app-information><app-social _ngcontent-qbp-c5="" _nghost-qbp-c12=""><div _ngcontent-qbp-c12="" class="footer-social"><ul _ngcontent-qbp-c12=""><li _ngcontent-qbp-c12=""><a _ngcontent-qbp-c12="" href="null"></a></li><li _ngcontent-qbp-c12=""><a _ngcontent-qbp-c12="" href="null"></a></li><li _ngcontent-qbp-c12=""><a _ngcontent-qbp-c12="" href="null"></a></li><li _ngcontent-qbp-c12=""><a _ngcontent-qbp-c12="" href="null"></a></li><li _ngcontent-qbp-c12=""><a _ngcontent-qbp-c12="" href="null"></a></li></ul></div></app-social></div></div><div _ngcontent-qbp-c5="" class="col"><div _ngcontent-qbp-c5="" class="sub-title"></div></div><div _ngcontent-qbp-c5="" class="col"><div _ngcontent-qbp-c5="" class="sub-title"><div _ngcontent-qbp-c5="" class="footer-title"><h4 _ngcontent-qbp-c5="">Information</h4></div><div _ngcontent-qbp-c5="" class="footer-contant"><ul _ngcontent-qbp-c5="" class="contact-list"><li _ngcontent-qbp-c5="">SellIt - Buy &amp; Sell Inc., Leipziger Straße Fulda 36037</li><li _ngcontent-qbp-c5="">Call Us: +49-151-00000000</li><li _ngcontent-qbp-c5="">Email Us: <a _ngcontent-qbp-c5="" href="null">contact@sellit.de</a></li></ul></div></div></div></div></div></section><div _ngcontent-qbp-c5="" class="sub-footer"><div _ngcontent-qbp-c5="" class="container"><app-copyright _ngcontent-qbp-c5="" _nghost-qbp-c13=""><div _ngcontent-qbp-c13="" class="row"><div _ngcontent-qbp-c13="" class="col-xl-6 col-md-6 col-sm-12"><div _ngcontent-qbp-c13="" class="footer-end"><p _ngcontent-qbp-c13=""> 2020 This website is for educational purpose. Sellit - Buy &amp; Sell </p></div></div><div _ngcontent-qbp-c13="" class="col-xl-6 col-md-6 col-sm-12"><div _ngcontent-qbp-c13="" class="payment-card-bottom"><ul _ngcontent-qbp-c13=""><li _ngcontent-qbp-c13=""> sellit is designed &amp; developed with  in <a _ngcontent-qbp-c13="" href="https://www.google.com/search?q=germany" target="_blank">Germany</a></li></ul></div></div></div></app-copyright></div></div></footer>
